.green-border {
    width: 18rem !important;
    border-bottom: 10px solid rgba(0, 255, 0, 1) !important;
}

.blue-border {
    width: 18rem !important;
    border-bottom: 10px solid rgba(0, 0, 255, 0.5) !important;
}

.red-border {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5) !important;
    width: 8rem !important;
}